{% extends 'default/AdminLayout.html.twig' %}




{% block content %}
    <div id="page-wrapper">
        <div class="main-page">
            {{ form_start(form) }}


            {{ form_end(form) }}



        </div>
    </div>


{% endblock %}