<h1>reservation confirmation</h1>

<h2>merci de fournir cette document chez nos enseigne </h2>  <br> <br>

<h3>vous aveez une reservation a {{ reservation.enseigne.nom }} le jour {{ reservation.datereservation }} </h3>

<h3> vous avez reservé {{ reservation.nbplaces }}</h3>