{% extends 'default/layout.html.twig' %}

{% block title %}
    {{ parent() }} Création compte
{% endblock %}

{% block banner %}
    <!--banner-->
    <div class="banner1">
        <div class="container">
            <h3><a href="{{ path('bon_pvalidation_homepage') }}">S'inscrire</a>  <span></span></h3>
        </div>
    </div>
    <!--banner-->
{% endblock %}

{% block content %}
    <!--content-->
    <div class="content">
        <!--login-->
        <div class="login">
            <div class="main-agileits">
                <div class="form-w3agile form1">
                    <h3>S'inscrire</h3>
                    <form action="#" method="post">
                        <div class="key">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input  type="text" value="Nom d'utilisateur" name="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" required="">
                            <div class="clearfix"></div>
                        </div>
                        <div class="key">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input  type="text" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                            <div class="clearfix"></div>
                        </div>
                        <div class="key">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input  type="password" value="Mot de passe" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                            <div class="clearfix"></div>
                        </div>
                        <div class="key">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input  type="password" value="Confirmer mot de passe" name="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}" required="">
                            <div class="clearfix"></div>
                        </div>
                        <input type="submit" value="Envoyer">
                    </form>
                </div>

            </div>
        </div>
        <!--login-->
    </div>
    <!--content-->
{% endblock %}
