{% extends 'default/layout.html.twig' %}

{% block banner %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <table border="1" align="center">
        <tr>

            <td>Contenu</td>
            <td>Prix</td>


        </tr>


        <tr>
            <td>{{ menus.contenu }}</td>
            <td>{{ menus.prix }}</td>
            <td><a href="{{ path('supprimer_menu',{'id':menus.id}) }}">supprimer</a></td>
            <
        </tr>




    </table>

{% endblock %}
