{% extends 'default/layout.html.twig' %}

{% block banner %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <h3>Modifier Evennement</h3>
    {{ form_start(form) }}


    {{ form_end(form) }}


{% endblock %}