<h3>Avertissement</h3>

Salut {{ deal.enseigne.user.username }} !!


Votre deal {{ deal.nom }} a été désactivé. Après avoir inspecté votre deal , nous avons du le désactiver.
Merci pour votre compréhension .